#buttons {
    display: grid;
    justify-content: center;
}

#maze {
    margin: 3em auto 0;
    width: 100%;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    padding: .5rem 0;
    align-items: center;
}

.mazeButton {
    width: 3em;
    height: 3em;
    margin: 2px;
    background-color: var(--accent);
    color: transparent;
    flex-shrink: 0
}

.mazeRow {
    display: flex;
    width: 100%;
}